[submodule "external/rtaudio"]
	path = external/rtaudio
	url = https://github.com/thestk/rtaudio.git
[submodule "external/Gamma"]
	path = external/Gamma
	url = https://github.com/AlloSphere-Research-Group/Gamma
