# don't ignore `bin` anywhere in folder tree
!**/bin
# but ignore things inside folder named bin
**/bin/*
# while not ignoring things inside bin/data
!**/bin/data

**/build
!external/glew/build
external/glew/build/build

# only top level al folder
/al/

# cmake stuff
CMakeFiles/
test/CMakeFiles/
cmake_install.cmake
test/cmake_install.cmake
CMakeCache.txt
test/CMakeCache.txt
Makefile
test/Makefile
CmakeSettings.json

# lib locations for Windows
dependencies/glfw
dependencies/glew
dependencies/cuttlebone
dependencies/glv
dependencies/gamma
dependencies/FreeImage
dependencies/apr
dependencies/portaudio

# file formats
*.a
*.lib

# ide stuff
**/Debug
.vs/
*.vcxproj
*.filters
*.sln
*.db
x64
al.dir/

temp