[submodule "external/rtaudio"]
	path = external/rtaudio
	url = https://github.com/thestk/rtaudio.git
[submodule "external/rtmidi"]
	path = external/rtmidi
	url = https://github.com/thestk/rtmidi
[submodule "external/Gamma"]
	path = external/Gamma
	url = git@github.com:AlloSphere-Research-Group/Gamma.git
