CMakeFiles/
test/CMakeFiles/
cmake_install.cmake
test/cmake_install.cmake
CMakeCache.txt
test/CMakeCache.txt
Makefile
test/Makefile
*.a
gl_test/al_gl_test
test/al_test
*/al_test
dependencies/glfw/
dependencies/glew/
dependencies/cuttlebone/
dependencies/glv/
dependencies/gamma/
dependencies/FreeImage/
build/
*/build/
.vs/
Debug/
*/Debug/
dependencies/apr
dependencies/apr2
dependencies/portaudio
*.vcxproj
*.filters
*.lib
*.sln
*.db
*/bin/
bin/
al.dir/
x64
CmakeSettings.json
al/

*.sublime-project
*.sublime-workspace